
      <div class="bg"></div>
      <div class="container animated fadeIn">
        <center>
          <h2>
            <a href="#homepage">Login</a>
          </h2>
        </center>
        <hr>
        <form>
              <center>
            <div> 
              <input type="text" name="username" placeholder="Username" value="">
              <input type="password" name="password" placeholder="Password">
             </div>
              <p class="a-link"><a href="#forget-password">Forget password?</a></p>
                <button>Login</button>
              </center>
              <br>
          </form>
      </div>
        <ul class="bubbles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
          </ul>
        
      <!-- You can delete the div tag of source. But please don't delete the source's comment tag and keep it on your html. Thanks.
      ----------------------------Desigh by l3lackMegas / CodePen-----------------------------
      ---------------------------Background by fanjianhua / Freepik----------------------------
      -------------------CSS Bubble Animation by Twisted Core / Youtube-------------------
      -->
        <div class="footer">    
           Background by <a href="http://www.freepik.com" target="_blank">fanjianhua / Freepik</a>
          <br>
          CSS Bubble Animation by <a href="https://www.youtube.com/watch?v=ETXba6QOzYg" target="_blank">Twisted Core</a>    
        </div>
        <div class="l3lackMegas">Design by
          <a href="https://codepen.io/l3lackMegas/" target="_blank">l3lackMegas</a>.
        </div>





